[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "*"
attrs = "*"
certifi = "*"
charset-normalizer = "*"
click = "*"
coreapi = "*"
coreschema = "*"
coverage = "*"
django = "*"
django-cors-headers = "*"
django-filter = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
drf-spectacular = "*"
factory-boy = "*"
faker = "*"
idna = "*"
inflection = "*"
itypes = "*"
jinja2 = "*"
jsonschema = "*"
jsonschema-specifications = "*"
markupsafe = "*"
mypy-extensions = "*"
packaging = "*"
pathspec = "*"
platformdirs = "*"
pyjwt = "*"
python-dateutil = "*"
python-decouple = "*"
pytz = "*"
pyyaml = "*"
referencing = "*"
requests = "*"
rpds-py = "*"
"ruamel.yaml" = "*"
"ruamel.yaml.clib" = "*"
six = "*"
soupsieve = "*"
sqlparse = "*"
tomli = "*"
typing-extensions = "*"
uritemplate = "*"
urllib3 = "*"
psycopg2-binary = "*"
boto3 = "*"
django-storages = "*"
moto = {extras = ["s3"], version = "*"}

[dev-packages]

[requires]
python_version = "3.11"
